<body>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container nav-container">
      <img routerLink="/" class="navbar-brand logo" id="nav-logo" src="../assets/ArchinetNewWhite.png" />
      <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain" >

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/signup" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">(Beta)</a>
        </li>
      </ul>
    </div>

    </div>
  </nav>

<div class="container">
  <div class="text-center header">
   Contact Us
  </div>
  <div class="mt-5 text-center">
    Anything you need. We're here to help.
  </div>
  <div class="mt-5 text-center">
    <span class="bold text-dark">Phone:</span> <a href="tel:2242279215"><span>(224)-227-9215</span></a>
  </div>
  <div class="mt-5">

  </div>
  <div class="mt-5 text-center font-weight-bold">
  </div>
</div>

<div id="footer">
  <div id="footerContents">
    <div id="footerSections">

      <div class="text-center footerDiv">
        <ul class="list-small text-tiny">
          <li class="listHeader text-tiny">
            Connect
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="https://www.instagram.com/archinet_tech/" target="_blank">Instagram</a>
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="https://twitter.com/ArchinetTech" target="_blank">Twitter</a>
          </li>
        </ul>
      </div>

      <div class="text-center footerDiv">
        <ul class="list-small text-tiny">
          <li class="listHeader text-tiny">
            Product
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="#">Get The App</a>
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="#">Image Credits</a>
            <!--
            <div>Icons made by
            <a href="https://www.flaticon.com/authors/vectors-market"
            title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/"
            title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
            title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY
            </a>
          </div>-->
          </li>
        </ul>
      </div>

      <div class="text-center footerDiv">
        <ul class="list-small text-tiny">
          <li class="listHeader text-tiny">
            Company
          </li>
          <li class="text-tiny">
            <a class="footerLink" routerLink="/about">About</a>
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="/contact">Contact</a>
          </li>
          <a></a>
        </ul>
      </div>

    <div class="text-center footerDiv">
      <ul class="list-small text-tiny">
        <li class="listHeader text-tiny">
          Support
        </li>
        <li class="text-tiny">
          <a class="footerLink" href="#">Help</a>
        </li>
      </ul>
    </div>

    </div>
    <div id="corporate" class="text-tiny-corporate pt-5 text-center">
      <p>
        © 2019 Archinet Technologies Inc. All rights reserved.
      </p>
    </div>
  </div>
</div>


</body>
