<body>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--<nav id="navbar" class="navbar nav-bg bg-secondary navbar-expand-md navbar-dark">
  <div id="nav-bg" class="">

<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <img routerLink="/" class="navbar-brand logo" id="nav-logo" src="../assets/ArchinetNewWhite.png" />
  <button class="navbar-toggler" type="button"
  data-toggle="collapse" data-target="#navbarMain">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarMain">
  <ul class="navbar-nav mr-auto set-li-height nav">
    <li class="nav-item">
      <a routerLink="/" class="nav-link text-small nav ml-5 mr-5 nav-font-size">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink='/login' class="nav-link text-small nav formlink ml-5 mr-5 nav-font-size">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="/signup" class="nav-link text-small formlink nav ml-5 mr-5 nav-font-size">Register</a>
    </li>
  </ul>

</div>

</div>
</nav>-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container nav-container">
    <img routerLink="/" class="navbar-brand logo" id="nav-logo" src="../assets/ArchinetNewWhite.png" />
    <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarMain">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMain" >

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/signup" class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">(Beta)</a>
      </li>
    </ul>
  </div>

  </div>
</nav>

<div class="container">
  <div class="text-center header">
   Archinet gives you freedom
  </div>
  <div class="mt-5">
    Our story's simple: our founder wanted to try out an electric skateboard one day, but didn't want to
    pay full price for one without being satisfied that it was what he wanted. He hunted online for a way to rent one, but to
    no avail. Through some more research, it was apparent that there was no major online peer to peer rental
    platform that allows people to both save and make money. This came across as a problem to us, so we set out to
    fix it.
  </div>
  <div class="mt-5">
    Archinet lets you list anything you own except for automotive vehicles and real estate. Everything else is fair game.
    We want people to have access to items they need or want, without having to worry about the price.
  </div>
  <div class="mt-5">
    We value opporunity beyond everything else. We aim to assure that people are able to gain new experiences while
    exploring anything and everything they find intriguing.
  </div>
  <div class="mt-5 text-center font-weight-bold">
    Join the community! A world of adventure awaits you.
  </div>
</div>

<div id="footer">
  <div id="footerContents">
    <div id="footerSections">

      <div class="text-center footerDiv">
        <ul class="list-small text-tiny">
          <li class="listHeader text-tiny">
            Connect
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="https://www.instagram.com/archinet_tech/" target="_blank">Instagram</a>
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="https://twitter.com/ArchinetTech" target="_blank">Twitter</a>
          </li>
        </ul>
      </div>

      <div class="text-center footerDiv">
        <ul class="list-small text-tiny">
          <li class="listHeader text-tiny">
            Product
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="#">Get The App</a>
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="#">Image Credits</a>
            <!--
            <div>Icons made by
            <a href="https://www.flaticon.com/authors/vectors-market"
            title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/"
            title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
            title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY
            </a>
          </div>-->
          </li>
        </ul>
      </div>

      <div class="text-center footerDiv">
        <ul class="list-small text-tiny">
          <li class="listHeader text-tiny">
            Company
          </li>
          <li class="text-tiny">
            <a class="footerLink" routerLink="/about">About</a>
          </li>
          <li class="text-tiny">
            <a class="footerLink" href="/contact">Contact</a>
          </li>
          <a></a>
        </ul>
      </div>

    <div class="text-center footerDiv">
      <ul class="list-small text-tiny">
        <li class="listHeader text-tiny">
          Support
        </li>
        <li class="text-tiny">
          <a class="footerLink" href="#">Help</a>
        </li>
      </ul>
    </div>

    </div>
    <div id="corporate" class="text-tiny-corporate pt-5 text-center">
      <p>
        © 2019 Archinet Technologies Inc. All rights reserved.
      </p>
    </div>
  </div>
</div>


</body>
