* {
  font-family: 'Montserrat', sans-serif;
}
.logo {
  width: 175px;
  height: auto;
  float: left;
}
.nav-item {
  padding-top: 20% !important;
}
.main {
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 100px;
  padding-top: 10%;
  padding-bottom: 10%;
}
.bg {
  background-color: #212529;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  z-index: -1;
  overflow: scroll;
}
.inputComponentHeader {
  color: white;
}
.input {
  margin-top: 5%;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid #FF8000;
}
.submit:hover {
  background-color: #FF9E3B;
  cursor: pointer;
}
.submit {
  background-color: #FF8B00;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  color: white;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .nav-item {
    padding-top: 0% !important;
  }
}
